.no-outline {
    outline: none;
  }
  

h2 {
    font-family: "Faster One", cursive; }
  
  h3 {
    font-family: "Syne Mono", monospace; }
  
  h1 {
    font-family: "Rock 3D", cursive;  }
  
  h5 {
    font-family: "Nabla", cursive;
    text-shadow: rgba(244, 240, 240, 0.8980392157) 0px 0px 5px, #01b4e5 0px 0px 10px, #ddd5ac 0px 0px 15px, #98abac 0px 0px 20px, #f9f9f9 0px 0px 30px, #0bcbe5 0px 0px 40px, #131313 0px 0px 50px, #f803f0 0px 0px 75px; }
  
  .navbar-nav .nav-link {
    font-family: "Exo 2", sans-serif;
  }
  
  h4 {
    font-family: "Exo 2", sans-serif;
  }
 
  p  {font-family: 'Genos', sans-serif;
    ; }
  
  .font-registro {font-family: 'Syne Mono', monospace;}

  .letras {
    color: #FFFFFF;
  
    text-shadow: #f2ebf1e5 0px 0px 5px, #c28cb8 0px 0px 10px, #f0f0f0 0px 0px 15px, #d748ff 0px 0px 20px, #e60fdbb0 0px 0px 30px, #3339dc 0px 0px 40px, #f307ef 0px 0px 50px, #f50df9 0px 0px 75px;
    color: #f8f8f884;
   
    }

    #demotext {
        color: #FFFFFF;
      
        text-shadow: #edfafaba 0px 0px 5px, #ffffff 0px 0px 10px, #2279b4c6 0px 0px 15px, #0f77b4 0px 0px 20px, #1bd1d1 0px 0px 30px, #06c1cf 0px 0px 40px, #1da8e3 0px 0px 50px, #0aa1d8c0 0px 0px 75px;
        color: #ffffff84;
       
        }
      
        #demotext1 {
          color: #FFFFFF;
        
          text-shadow: #f2ebf1e5 0px 0px 5px, #c28cb8 0px 0px 10px, #f0f0f0 0px 0px 15px, #d748ff 0px 0px 20px, #e60fdbb0 0px 0px 30px, #3339dc 0px 0px 40px, #f307ef 0px 0px 50px, #f50df9 0px 0px 75px;
          color: #f8f8f884;
         
          }
      

          .color-artist {
            color: #1581c0;
          }
          
          
          .backcolor-artist {
            background-color: #1581c0;
          }
          
          .text-color-1 {
            color: rgba(240, 248, 255, 0.837);
          }
          
          .section-team {
            color: rgba(206, 205, 205, 0.8431372549);
          }
          
          .card-img {
            object-fit: cover;
            border-radius: 10px;
            height: 100%;
          }
          
          .black-link {
            color: #000000;
          }
          
          .lead-color-page-text {
            color: #641ec7;
          }
          
          .lead-color-page { background-color:  #641ec7; }

          
          .color-item {
            background-color: aliceblue;
          }
          
          .dropdown-item {
            color: aliceblue;
          }

          .nav-link {
            color: #dacfe6;
          }
          
          .bg-azul {
            background-color: #8011f2;
            color: #000000;
          }
          