.gradient-nosotros {
    background: rgb(82, 58, 116);
    background: linear-gradient(90deg, rgb(0, 0, 0) 60%, rgba(79,0,255,1) 98%);
  }
  
  .gradient-nosotros2 {
    background: rgb(82, 58, 116);
    background: linear-gradient(90deg, rgb(255, 255, 255) 60%, rgb(207, 207, 207) 98%);
  }