.gradient-artist{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 70%, rgba(12, 159, 207, 0.742) 98%);
  }

  .gradient-equipo{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(252, 252, 252) 0%, #2c08ccb8 70%, rgba(255, 255, 255, 0.742) 98%);
  }
  
  