.gradient-color-page {
    background: rgb(100,30,199);
    background: linear-gradient(90deg, rgba(100,30,199,1) 60%, rgba(79,0,255,1) 98%);
  }

  #logo {
    position: relative;
    animation: mover-logo 7s infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0px 0px 10px rgb(235, 232, 232)); 
  }
  #logo {
    position: relative;
    animation: mover-logo 7s infinite;
    animation-timing-function: linear;
    filter: drop-shadow(0px 0px 10px rgb(235, 232, 232)); 
  }
  
  @keyframes mover-logo {
    0%, 100% {
      transform: translateX(-100%);
      filter: drop-shadow(0px 0px 10px rgb(235, 232, 232)); 
    }
    40% {
      filter: none; 
    }
    50%, 80% {
      transform: translateX(50%); 
      filter: none; /* */
    }
  }
  
  @media (max-width: 767px) {
    #logo {
      transform: translateX(-50%); 
    }
  }